<!DOCTYPE html>
<html>
<head>
    @* <link href="~/css/style.css" rel="stylesheet" type="text/css" /> *@
    <title>
        @ViewData["Title"]
    </title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/PorkAndBeans">/PorkAndBeans (custom route)</a>
            <a class="nav-link" href="/Home/About">About</a>
        </nav>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        &copy; Simon Silverman -- @DateTime.Now.Year.ToString()
    </footer>
</body>
</html>