@{
    ViewData["Title"] = "About";
}

<div>
    <h1>About Me</h1>
    <p>My Name is Simon Silverman</p>
    <p>I am in Cohort 36</p>
    <p>I chose weezer as the subject of my site because it is funny</p>
    <img id="personal-img" src="https://cdn.discordapp.com/attachments/763035638517334036/1013565745013194782/20220820_154006.jpg" alt="picture of me"/>
</div>
